/* Here are the custom variables that override the original bootstrap ones */

$blue:    #77b6ff;
$carousel-indicator-height: 2px;
$carousel-indicator-opacity: 0.05;
$nav-link-hover-color: #000;
$nav-link-color: #3b3b3b;
$breadcrumb-divider: quote("|");

